@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
@keyframes marquee-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-infinite {
  display: flex;
  width: max-content;
  animation: marquee-infinite 30s linear infinite;
}

.animate-marquee-infinite:hover {
  animation-play-state: paused;
}
